@font-face {
   font-family: 'OT Miniature';
   src: url('./fonts/OTMiniature-Regular.woff2') format('woff2'),
      url('./fonts/OTMiniature-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'OT Miniature';
   src: url('./fonts/OTMiniature-Bold.woff2') format('woff2'),
      url('./fonts/OTMiniature-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}


@font-face {
   font-family: 'OT Jubilee Diamond';
   src: url('./fonts/OTJubilee-Diamond.woff2') format('woff2'),
      url('./fonts/OTJubilee-Diamond.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'OT Jubilee Silver';
   src: url('./fonts/OTJubilee-Silver.woff2') format('woff2'),
      url('./fonts/OTJubilee-Silver.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

:root {
   --primary-color: #254336;
   --secondary-color: #DE8F5F;
   --background-color: #EFE4C6;
   --text-color: #627361;
}

* {
   margin: 0;
   box-sizing: border-box;
   font-size: 16px;
   color: var(--text-color);
}

html {
   scroll-behavior: smooth;
}


body {
   background-color: var(--background-color);
   margin: 0 50px;
}

/* General styling */
h1 {
   color: var(--primary-color);
   font-family: "OT Miniature";
   font-size: 15rem;
   font-style: normal;
   font-weight: 700;
   text-transform: uppercase;
   text-align: right;
   line-height: 0.73;
}

h2 {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

h2 span.title {
   color: var(--primary-color);
   font-family: "OT Miniature";
   font-size: 10rem;
   font-weight: normal;
   text-transform: uppercase;
   line-height: 0.73;
   letter-spacing: 0.01em;
}

span.small-font {
   display: block;
   color: var(--secondary-color);
   font-family: "OT Jubilee Diamond";
   font-size: 1.5rem;
}

h2 span.title-country {
   color: var(--secondary-color);
   font-family: "OT Jubilee Diamond";
   font-weight: normal;
   font-size: 1.5rem;
   text-transform: uppercase;
   letter-spacing: 0.01em;
   border: 1px solid var(--secondary-color);
   padding: 0.5rem 1rem;
   border-radius: 30px;
   margin-top: 1rem;
}

h3 {
   font-family: 'OT Miniature';
   font-size: 2rem;
   font-weight: normal;
   letter-spacing: 0.02em;
}

span.span-block {
   display: block;
   margin-top: 1rem;
}

img {
   object-fit: cover;
   border-radius: 50px;
}

/* header */
header {
   position: relative;
   display: flex;
   align-items: center;
   padding: 50px 0 20px;
   z-index: 1;
}

a.logo {
   display: flex;
   flex: 0 0 250px;
   width: auto;
}

nav {
   flex: 1 0 auto;
}

nav ul {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   list-style: none;
}

nav ul li a {
   font-family: 'OT Jubilee Silver';
   text-transform: uppercase;
   font-size: 1.1rem;
   text-decoration: none;
   padding-inline: 1rem;
   color: var(--text-color);
   transition: color 0.3s ease-in;
}

nav ul li a:hover {
   color: var(--secondary-color);
}



/* PAGE HERO */
.page-hero {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   align-items: flex-end;
   gap: 20px;
}

.page-hero--subtitle {
   display: inline-flex;
   align-items: center;
   font-family: 'OT Jubilee Diamond';
   font-size: 2rem;
   color: var(--secondary-color);
   border: 1px solid var(--secondary-color);
   border-radius: 30px;
   padding: 0.5rem 1rem;
}

.page-hero--subtitle svg {
   margin-inline: 0.3rem;
}

.page-hero img {
   max-width: 100%;
}

/* BLOCKQUOTE */
section#quote {
   padding-block: 5rem;
   padding-inline: 9rem;
}

blockquote {
   position: relative;
   font-family: 'OT Miniature';
   font-size: 2.5rem;
   letter-spacing: 0.02em;
   max-width: 65%;
}

blockquote::after {
   position: absolute;
   content: "“";
   top: -1.2rem;
   left: -3rem;
   font-size: 20rem;
   line-height: 15rem;
   pointer-events: none;
   color: var(--secondary-color);
   opacity: 0.15;
   z-index: -1;
}

blockquote p {
   padding-top: 1rem;
   text-align: right;
}

/* PARIS TRAVEL */
section#paris {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   padding-top: 10rem;
}

section#paris img {
   border-radius: 45px;
}

section#paris img.paris-img--1 {
   order: 1;
   width: 28%;
}

section#paris img.paris-img--2 {
   order: 2;
   width: 18%;
}

section#paris h2 {
   order: 3;
   width: 50%;
   margin-left: auto;
   align-self: flex-end;
}

section#paris img.paris-img--3 {
   order: 4;
   width: 18%;
}

section#paris img.paris-img--4 {
   order: 5;
   width: 28%;
}

section#paris h3 {
   order: 6;
   align-self: flex-end;
   width: 50%;
   text-align: right;
   margin-left: auto;
   max-width: 570px;
}

/* TRAVEL CONTENT */
section.travel-content {
   display: flex;
   flex-wrap: wrap;
   gap: 50px;
   padding-block: 5rem;
}

section.travel-content p:not(span) {
   flex: 1;
   font-family: 'OT Jubilee Silver';
   font-weight: normal;
   line-height: 1.7rem;
}

section.travel-content p span {
   margin-bottom: 1rem;
}

section.travel-content img {
   flex: 1;
   width: 100%;
}

/* ROME TRAVEL */
section#rome {
   display: flex;
   gap: 20px;
   padding-top: 5rem;
}

section#rome article {
   width: calc(45% - 10px);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-end;
   gap: 4rem;
}

section#rome article h2 {
   align-items: flex-start;
}

section#rome aside {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   width: calc(55% - 10px);
   max-height: 820px;
}

section#rome aside>img {
   width: 100%;
   height: auto;
   max-height: 310px;
}

section#rome aside>img:nth-of-type(1) {
   flex: 1 1 calc(60% - 10px);
   width: calc(60% - 10px);
   max-height: 488px;
}

section#rome aside section {
   display: flex;
   flex-direction: column;
   flex: 1 1 calc(40% - 10px);
   gap: 20px;
   width: calc(40% - 10px);
   max-width: 288px;
}

section#rome aside section img {
   flex: 1;
   height: auto;
}

section.travel-content.rome p {
   flex: 0 0 calc(33.333% - 50px);
}


/* KELOWNA TRAVEL */
section#kelowna {
   display: flex;
   gap: 20px;
   padding-top: 5rem;
}

section#kelowna article {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: calc(55% - 10px);
}

section#kelowna article h2 {
   order: 1;
}

section#kelowna article h3 {
   max-width: 80%;
}

section#kelowna aside {
   width: calc(45% - 10px);
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   gap: 20px;
}

section#kelowna aside img:nth-of-type(1) {
   width: calc(60% - 10px);
}

section#kelowna aside img:nth-of-type(2) {
   width: calc(40% - 10px);
}

section#kelowna aside img:nth-of-type(3) {
   width: 75%;
}