@font-face {
   font-family: 'OT Miniature';
   src: url('./fonts/OTMiniature-Regular.woff2') format('woff2'),
      url('./fonts/OTMiniature-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'OT Miniature';
   src: url('./fonts/OTMiniature-Bold.woff2') format('woff2'),
      url('./fonts/OTMiniature-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}


@font-face {
   font-family: 'OT Jubilee Diamond';
   src: url('./fonts/OTJubilee-Diamond.woff2') format('woff2'),
      url('./fonts/OTJubilee-Diamond.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'OT Jubilee Silver';
   src: url('./fonts/OTJubilee-Silver.woff2') format('woff2'),
      url('./fonts/OTJubilee-Silver.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

:root {
   --primary-color: #254336;
   --secondary-color: #DE8F5F;
   --background-color: #EFE4C6;
   --text-color: #627361;
}

* {
   margin: 0;
   box-sizing: border-box;
   font-size: 16px;
   color: var(--text-color);
}

html {
   scroll-behavior: smooth;
}


body {
   background-color: var(--background-color);
   margin: 0 50px;
}

/* General styling */
h1 {
   color: var(--primary-color);
   font-family: "OT Miniature";
   font-size: 15rem;
   font-style: normal;
   font-weight: 700;
   text-transform: uppercase;
   text-align: right;
   line-height: 0.73;
}

img {
   object-fit: cover;
   border-radius: 50px;
}

/* header */
header {
   position: relative;
   display: flex;
   align-items: center;
   padding: 50px 0 20px;
   z-index: 1;
}

a.logo {
   display: flex;
   flex: 0 0 250px;
   width: auto;
}

nav {
   flex: 1 0 auto;
}

nav ul {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   list-style: none;
}

nav ul li a {
   font-family: 'OT Jubilee Silver';
   text-transform: uppercase;
   font-size: 1.1rem;
   text-decoration: none;
   padding-inline: 1rem;
   color: var(--text-color);
   transition: color 0.3s ease-in;
}

nav ul li a:hover {
   color: var(--secondary-color);
}



/* PAGE HERO */
.page-hero {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   align-items: flex-end;
   gap: 20px;
}

.page-hero--subtitle {
   display: inline-flex;
   align-items: center;
   font-family: 'OT Jubilee Diamond';
   font-size: 2rem;
   color: var(--secondary-color);
   border: 1px solid var(--secondary-color);
   border-radius: 30px;
   padding: 0.5rem 1rem;
}

.page-hero--subtitle svg {
   margin-inline: 0.3rem;
}

.page-hero img {
   max-width: 100%;
}

/* BLOCKQUOTE */
section#quote {
   padding-block: 5rem;
   padding-inline: 9rem;
}

blockquote {
   position: relative;
   font-family: 'OT Miniature';
   font-size: 2.5rem;
   letter-spacing: 0.02em;
   max-width: 65%;
}

blockquote::after {
   position: absolute;
   content: "“";
   top: -1.2rem;
   left: -3rem;
   font-size: 20rem;
   line-height: 15rem;
   pointer-events: none;
   color: var(--secondary-color);
   opacity: 0.15;
   z-index: -1;
}

blockquote p {
   padding-top: 1rem;
   text-align: right;
}